<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title> 感謝您的加入</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			body{
					margin:0px;
					padding:0px;
					background:rgb(255,223,217) url("./image/background2.png") center center fixed no-repeat;　//設定背景圖片的呈現方式
					background-size: cover;
				}

		</style>
</head>
<body>
    <br>
    <br>
    <p align="center"><b><font size="6"> 感謝您的加入</font></b></p>
    <p align="center"><b><font size="6">請按右上角離開，謝謝</font></b></p>
</body>
</html>